node_modules/
/package-lock.json
/config.json
/themes/fonts/Fira\ Code/FiraCode-Regular.ttf
/themes/fonts/Fira\ Code/license.txt
/themes/icons/vscode-fluent-icons/src/
/themes/icons/vscode-fluent-icons/license.txt
/tooling/maker.done
/.vscode
/src/gfonts/ops1.ttf
/log.txt
/isSetup.txt
/yarn.lock
/tmp
/yarn-error.log
/Concrete-win32-x64 
/Concrete-win32-x64.zip