.sidebar {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0; 
    margin: 0;
    display: block;
    height: 100%;
    width: var(--sidebar-length);
    background-color: var(--secondary-background);
    z-index: 1;
}

.main {
    position: absolute;
    left: 0px;
    background-color: var(--bg-color);
    top: var(--titlebar-height);
    left: var(--sidebar-length);
    height: calc(100%);
    width: calc(100% - 50px);
    z-index: 10;
}

.fileMenu {
    position: absolute;
    background-color: var(--secondary-background);
    height: 30px;
    width: 100%;
}

.noFile {
    position: absolute;
    top: 30px;
}

.backgroundImage {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
 }